main {
    flex: 1;
}

main ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    list-style: none;
}

@media (max-width: 650px) {
    main ul {
        grid-template-columns: 1fr;
    }
}

li.customer-item {
    background: #fff;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.02);
    border-radius: 2px;
    padding: 20px;
}

li.customer-item header {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
    justify-content: space-between;
}

li.customer-item .account-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li.customer-item .actions {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    justify-content: space-between;
}

li.customer-item .actions .update {
    width: 45%;
    height: 1.5rem;
    color: #6b8194;
    background-color: #fff;
    border: 1px solid #6b8194;
    transition: background 1s;
}

li.customer-item .actions .update:hover {
    width: 45%;
    height: 1.5rem;
    color: #fff;
    background-color: #6b8194;
    border: 1px solid #fff;
}

li.customer-item .actions .delete {
    width: 45%;
    height: 1.5rem;
    color: #e40934;
    background-color: #fff;
    border: 1px solid #e40934;
    transition: background 1s;
}

li.customer-item .actions .delete:hover {
    width: 45%;
    height: 1.5rem;
    color: #fff;
    background-color: #e40934;
    border: 1px solid #fff;
}